@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.header{
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.boxmain{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.modal{
  min-width: 40%;
  max-width: 60%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: "2px solid #000";
  box-shadow: 24px;
  padding: 25px;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  gap: 8px;
}
.arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 8px solid; /* Cor da seta (neste caso, preta) */
}

.boxlogin{
  width: 100%;
  height: 100vh;
  display: flex;

}
.boxlogin > div{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.boxlogin-bottom{
  display: flex;
  padding-top: 2%;
  justify-content: center;
}
.boxlogin-bottom > div{
  max-width: 40%;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: aliceblue;
  gap: 10px;
  border-radius: 20px;
}
.logo{
  width: 200px;
}

@media (max-width: 800px){
  .boxlogin-bottom > div{
    max-width: 100%;
    width: 80%;
  }
}

@media (max-width: 574px){
  .boxlogin-bottom > div{
    max-width: 100%;
    width: 100%;
  }
  .boxmain{
    padding: 2px;
    padding-top: 10px;
  }
  .logo{
    width: 250px;
  }
  .modal{
    max-width: 100%;
    width: 100%;
  }

}